{% include introduction.html %}

{% include skills.html %}

<hr class="gradient-line">

{% include work.html %}

<hr class="gradient-line">

{% include education.html %}

<hr class="gradient-line">

{% include publications.html %}

<hr class="gradient-line">

{% include large_projects.html %}

<hr class="gradient-line">

{% include open_source_projects.html %}

<hr class="gradient-line">

{% include stackoverflow.html %}

<hr class="gradient-line">

{% include recommended_readings.html %}

<hr class="gradient-line">

{% include contact.html %}