<div class="user-details-bis">
    <h1>Education</h1>
    <div class="education-row">
        <div class="education-column">
            <h3>University of St Andrews</h3>
            <h4>MSc Artificial Intelligence<br>(2019-2020)</h4>
            <a href="https://www.st-andrews.ac.uk/" target="_blank">
                <img src="assets/img/st-andrews.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="University of St Andrews logo">
            </a>
            <p>Graduated with Distinction (88.99%)<br>Top all-time ML grade (99%)<br>Dean’s List Award</p>
        </div>
        <div class="education-column">
            <h3>University of Bath</h3>
            <h4>BSc Computer Science<br>(2015-2019)</h4>
            <a href="https://www.bath.ac.uk/" target="_blank">
                <img src="assets/img/bath.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="University of Bath logo">
            </a>
            <p>Graduated with First-Class Honours (71.6%)</p>
        </div>
        <div class="education-column">
            <h3>Lycée Albert 1er</h3>
            <h4>French Scientific Baccalaureate, Option Internationale (2012-2015)</h4>
            <a href="https://lycee-albert1er.gouv.mc/en/about-the-school" target="_blank">
                <img src="assets/img/lycee-albert-1.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="Lycée Albert 1er logo">
            </a>
            <p>Graduated with Honours</p>
        </div>
    </div>
</div>