<div id="particles-js">
    <div class="header">
        <h1>
            <span class="site-title">{{ site.username }}</span>
            <span class="typewrite site-description" data-period="2250"
                  data-type='["Data Scientist", "Software Engineer", "Causal AI Data Scientist", "Machine Learning Researcher", "Artificial Intelligence"]'>
              <span class="wrap"></span>
            </span>
        </h1>
        <div class="header-icons">
            <a aria-label="Send email" href="mailto:adam@jaamour.com"><i class="icon fa fa-envelope"></i></a>
            <a aria-label="My LinkTree Page" target="_blank" href="https://linktr.ee/adamouization"><i
                    class="icon fa fa-tree" aria-hidden="true"></i></a>
            <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/adamjaamour/"><i
                    class="icon fa fa-linkedin" aria-hidden="true"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/Adamouization"><i
                    class="icon fa fa-github-alt" aria-hidden="true"></i></a>
            <a aria-label="My StackOverflow" target="_blank"
               href="https://stackoverflow.com/users/5609328/adam-jaamour?tab=profile"><i
                    class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>
            <a aria-label="My CV" target="_blank" href="{{ '/assets/AdamJaamourCV.pdf' | prepend: site.baseurl }}"><i
                    class="icon fa fa-file-text-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
