<div class="user-details">
    <h1>My Expertise</h1>
    <p>
        I am a <b>Data Scientist</b> at NewDay developing machine learning models for credit decisioning. I completed my
        <b>Artificial Intelligence</b> Master’s degree from the University of St Andrews, during which I earned the <b>all-time
        top grade</b> in the Machine Learning module with a 99% average and graduated with the <i><a
            href="https://www.st-andrews.ac.uk/students/academic/awards/universityprizes/deanslist/" target="_blank">Dean’s
        List Award</a></i>. Before my Master’s, I graduated from the University of Bath with a First-Class Honours
        degree in Computer Science, which included a 13-month placement as a software engineer with the Formula 1 team
        Scuderia Toro Rosso.
        <br><br>
        My goal is to combine the practical, theoretical and mathematical knowledge that the fields of machine learning
        and data science entail in order to develop <b>meaningful</b> and <b>efficient</b> solutions with direct
        contributions to real-life problems and to society. As a software engineer, I truly enjoy fully automated
        pipelines covered by extensive test suites, well version-controlled and documented code, analysing the data I'm
        working with and developing code on advanced IDEs.
    </p>
</div>