<div class="user-details">
    <h1>My Expertise</h1>
    <p>
        I am a <b>software engineer</b> currently studying a Masters in <b>Artificial Intelligence</b> at the University
        of St Andrews in Scotland with a focus on <b>Machine Learning</b>.

        I graduated from the University of Bath with a First-Class Honours degree in <b>Computer Science</b>, which
        included a 13-months placement as a software engineer with the Formula 1 team Scuderia Toro Rosso.

        My career goal is to combine the theoretical and mathematical knowledge acquired throughout my studies with my
        practical experience gained while working in industry, in order to develop <b>meaningful solutions</b> with
        direct contributions to society.

        As a software engineer, I truly enjoy fully automated pipelines covered with an extensive testing suite, well
        version-controlled and documented code, learning about the data I'm working with and developing code on advanced
        IDEs.
    </p>
</div>