<div class="user-details">
    <h1>My Expertise</h1>
    <p>
        I am an <b>Applied Data Scientist</b> at causaLens aiming to revolutionise the world of AI by stepping away from
        traditional "Correlation" Machine Learning and focusing on the future: causal AI. Previously, I worked as a <b>Data
        Scientist</b> developing <b>Machine Learning</b> models for credit decisioning at NewDay. I
        completed my Master's in <b>Artificial Intelligence</b> from the University of St Andrews, during which I earned
        the <b>all-time top grade</b> in the Machine Learning module with a 99% average and graduated with the
        <i>Dean’s List Award</i>. Before my Master’s, I graduated from the University of Bath with a First-Class Honours
        degree in Computer Science, which included a 13-month placement as a software engineer in the fast-paced world
        of Formula 1 with the Scuderia Toro Rosso team.
        <br><br>
        My goal is to combine the practical, theoretical and mathematical knowledge that the fields of machine learning
        and data science entail in order to develop <b>meaningful</b> and <b>efficient</b> solutions with direct contributions
        to real-life problems and to society. As both a data scientist, I truly enjoy digging deep into the data I work
        with to truly understand and build the best model possible that can be used in real-life scenarios.
        As a software engineer, I truly enjoy fully automated pipelines covered by extensive test suites, well
        version-controlled and documented code, analysing the data I'm working with, developing code using state-of-the
        art tools and always learning more by exploring different project.
    </p>
</div>