<div class="flex-row projects-list-title">
    <div class="flex-item flex-column full-width">
        <h1>Large Projects</h1>
    </div>
</div>

<div class="flex-row">
    <div class="flex-item flex-item-stretch flex-column">
        <img class="image" src="assets/img/mammogram.jpg">
    </div>
    <div class="flex-item flex-item-stretch-4 flex-column">
        <h3>
            <a class="h3-project-title" href="javascript:void(0)">Breast Cancer Detection in Mammograms using Machine
                Learning techniques (Master's Thesis)</a>
            <a class="github-button"
               href="https://github.com/Adamouization/Breast-Cancer-Detection-Mammogram-Deep-Learning"
               data-icon="octicon-star" data-show-count="true"
               aria-label="Star Adamouization/Breast-Cancer-Detection-Mammogram-Deep-Learning on GitHub">Star</a>
            <a class="github-button"
               href="https://github.com/Adamouization/Breast-Cancer-Detection-Mammogram-Deep-Learning/fork"
               data-icon="octicon-repo-forked" data-show-count="true"
               aria-label="Fork Adamouization/Breast-Cancer-Detection-Mammogram-Deep-Learning on GitHub">Fork</a>
            <a class="github-button"
               href="https://github.com/Adamouization/Breast-Cancer-Detection-Mammogram-Deep-Learning/archive/master.zip"
               data-icon="octicon-download"
               aria-label="Download Adamouization/Breast-Cancer-Detection-Mammogram-Deep-Learning on GitHub">Download</a>
        </h3>
        <p class="text">
            Exploring various deep learning techniques that can be used to implement a system which learns how to detect
            instances of breast cancer in mammograms. Convolution Neural Networks (CNNs) are used with a bag-of-tricks
            approach to analyse the effects on performance and efficiency using diverse deep learning techniques such as
            different architectures (VGG19, ResNet50, InceptionV3, DenseNet121, MobileNetV2), class weights, input
            sizes, amounts of transfer learning, and types of mammograms. Ultimately, 67.08% accuracy is achieved on the
            CBIS-DDSM dataset by transfer learning pre-trained ImagetNet weights to a MobileNetV2 architecture and
            pre-trained weights from a binary version of the mini-MIAS dataset to the fully connected layers of the
            model.
        </p>
        <div>
            <button class="btn btn-2 btn-2a"
                    onclick="window.open('https://github.com/Adamouization/Breast-Cancer-Detection-Mammogram-Deep-Learning/blob/master/Breast%20Cancer%20Detection%20in%20Mammograms%20using%20Deep%20Learning%20Techniques%20-%20Adam%20Jaamour%2C%202020.pdf', '_blank');">
                Read Paper
            </button>
            <button class="btn btn-2 btn-2a"
                    onclick="window.location.href = 'https://github.com/Adamouization/Breast-Cancer-Detection-Mammogram-Deep-Learning/raw/master/Breast%20Cancer%20Detection%20in%20Mammograms%20using%20Deep%20Learning%20Techniques%20-%20Adam%20Jaamour%2C%202020.pdf';">
                Download PDF
            </button>
            <button class="btn btn-2 btn-2a"
                    onclick="window.open('https://github.com/Adamouization/Breast-Cancer-Detection-Mammogram-Deep-Learning', '_blank');">
                View Code
            </button>
        </div>
    </div>
</div>

<hr class="dashed-line">
<div class="flex-row">
    <div class="flex-item flex-item-stretch flex-column">
        <a href="https://github.com/Adamouization/Content-Based-Video-Retrieval-Code" style="cursor: pointer"
           target="_blank">
            <img class="image" src="assets/img/cbvr_thumbnail.png">
        </a>
    </div>
    <div class="flex-item flex-item-stretch-4 flex-column">
        <h3>
            <a class="h3-project-title" href="javascript:void(0)">Content-Based Video Retrieval for Pattern Matching
                Videos (Undergraduate Dissertation)</a>
            <a class="github-button" href="https://github.com/Adamouization/Content-Based-Video-Retrieval-Code"
               data-icon="octicon-star" data-show-count="true"
               aria-label="Star Adamouization/Content-Based-Video-Retrieval-Code on GitHub">Star</a>
            <a class="github-button" href="https://github.com/Adamouization/Content-Based-Video-Retrieval-Code/fork"
               data-icon="octicon-repo-forked" data-show-count="true"
               aria-label="Fork Adamouization/Content-Based-Video-Retrieval-Code on GitHub">Fork</a>
            <a class="github-button"
               href="https://github.com/Adamouization/Content-Based-Video-Retrieval-Code/archive/master.zip"
               data-icon="octicon-cloud-download"
               aria-label="Download Adamouization/Content-Based-Video-Retrieval-Code on GitHub">Download</a>
        </h3>
        <p class="text">
            This project presents the design concepts and implementation steps of a content-based retrieval system for
            videos. It was originally inspired by the famous music-matching mobile application Shazam, with the aim to
            create a similar system for matching movies. Ultimately, a functional system was built by combining multiple
            methods into one pipeline and tested with a database of 50 short videos along with various videos recorded
            through mobile phones, resulting in correct matches reaching accuracies of 93%.
        </p>
        <div>
            <button class="btn btn-2 btn-2a"
                    onclick="window.open('https://github.com/Adamouization/Content-Based-Video-Retrieval-Dissertation/blob/master/Content_Based_Video_Retrieval_Dissertation.pdf', '_blank');">
                Read Paper
            </button>
            <button class="btn btn-2 btn-2a"
                    onclick="window.location.href = 'https://github.com/Adamouization/Content-Based-Video-Retrieval-Dissertation/raw/master/Content_Based_Video_Retrieval_Dissertation.pdf';">
                Download PDF
            </button>
            <button class="btn btn-2 btn-2a"
                    onclick="window.open('https://github.com/Adamouization/Content-Based-Video-Retrieval-Code', '_blank');">
                View Code
            </button>
        </div>
    </div>
</div>

<hr class="dashed-line">
<div class="flex-row">
    <div class="flex-item flex-item-stretch flex-column">
        <a href="https://hack-stack.herokuapp.com/" style="cursor: pointer" target="_blank">
            <img class="image" src="assets/img/hackstack.png">
        </a>
    </div>
    <div class="flex-item flex-item-stretch-4 flex-column">
        <h3>
            <a class="h3-project-title" href="javascript:void(0)">HacK-StacK</a>
        </h3>
        <p class="text">
            HacK-StacK is a web application designed to help people learn the basics of cyber security so they can
            defend themselves against online threats. Command-line and information security basics are covered through
            sets of increasingly challenging problems carried out by typing commands directly from the built-in
            HacK-StacK terminal. The users who complete the most challenges can reach the top of the leaderboards.
        </p>
        <div style="display: flex; align-items: flex-end">
            <button class="btn btn-2 btn-2a" onclick="window.open('https://hack-stack.herokuapp.com/', '_blank');">Visit
                Website
            </button>
        </div>
    </div>
</div>

<hr class="dashed-line">
<div class="flex-row">
    <div class="flex-item flex-item-stretch flex-column">
        <a href="https://play.google.com/store/apps/details?id=com.monte_carlo_multimedia.adam_jaamour.fcfimmobilier"
           style="cursor: pointer" target="_blank">
            <img class="image" src="assets/img/fcf_app_thumbnail.jpg">
        </a>
    </div>
    <div class="flex-item flex-item-stretch-4 flex-column">
        <h3>
            <a class="h3-project-title" href="javascript:void(0)">FCF Real-Estate Android Application</a>
            <a class="github-button" href="https://github.com/Adamouization/FCF-Real-Estate-Monaco-Android-App"
               data-icon="octicon-star" data-show-count="true"
               aria-label="Star Adamouization/FCF-Real-Estate-Monaco-Android-App on GitHub">Star</a>
            <a class="github-button" href="https://github.com/Adamouization/FCF-Real-Estate-Monaco-Android-App/fork"
               data-icon="octicon-repo-forked" data-show-count="true"
               aria-label="Fork Adamouization/FCF-Real-Estate-Monaco-Android-App on GitHub">Fork</a>
            <a class="github-button"
               href="https://github.com/Adamouization/FCF-Real-Estate-Monaco-Android-App/archive/master.zip"
               data-icon="octicon-cloud-download"
               aria-label="Download Adamouization/FCF-Real-Estate-Monaco-Android-App on GitHub">Download</a>
        </h3>
        <p class="text">
            FCF Real-Estate is a catalogue to browse FCF Real-Estate Monaco's properties available for sale & renting.
            It features a single XML feed for the data, property sorting, system of favourites, a search engine, an
            offline mode, multiple language support, an HD image gallery and in-app emailing.
        </p>
        <div style="display: flex; align-items: flex-end">
            <button class="btn btn-2 btn-2a"
                    onclick="window.open('https://play.google.com/store/apps/details?id=com.monte_carlo_multimedia.adam_jaamour.fcfimmobilier', '_blank');">
                Google Play
            </button>
            <button class="btn btn-2 btn-2a"
                    onclick="window.open('https://github.com/Adamouization/FCF-Real-Estate-Monaco-Android-App', '_blank');">
                View Code
            </button>
        </div>
    </div>
</div>