<div class="flex-row projects-list-title">
    <div class="flex-item flex-column full-width">
        <h1>Open Source Projects</h1>
    </div>
</div>

<div class="center-align-content">
    <a href="https://github.com/Adamouization/Seal-Pup-Aerial-Imagery-Neural-Network-Classifier" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/Seal-Pup-Aerial-Imagery-Neural-Network-Classifier.svg"></a>
    <object type="image/svg+xml"
            data="https://gh-card.dev/repos/Adamouization/Superconductors-Critical-Temperature-Predictions-Regression.svg?link_target=_blank"></object>
    <a href="https://github.com/Adamouization/Neural-Network-Ticketing-Routing-Agent" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/Neural-Network-Ticketing-Routing-Agent.svg"></a>
    <a href="https://github.com/Adamouization/HTTP-Web-Server" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/HTTP-Web-Server.svg"></a>
    <a href="https://github.com/Adamouization/Introduction-to-Web-Standards-Website" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/Introduction-to-Web-Standards-Website.svg"></a>
    <a href="https://github.com/Adamouization/AI-Search-Flight-Route-Planner" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/AI-Search-Flight-Route-Planner.svg"></a>
    <a href="https://github.com/Adamouization/MealTrackerApp" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/MealTrackerApp.svg"></a>
    <a href="https://github.com/Adamouization/Formula1-Crash-Stats" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/Formula1-Crash-Stats.svg"></a>
    <a href="https://github.com/Adamouization/Computer-Vision-Filtering-and-Object-Recognition-and-Features"
       target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/Computer-Vision-Filtering-and-Object-Recognition-and-Features.svg"></a>
    <a href="https://github.com/Adamouization/Environment-Exploring-Rover" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/Environment-Exploring-Rover.svg"></a>
    <a href="https://github.com/Adamouization/Relaxation-Technique-Parallel-Computing" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/Relaxation-Technique-Parallel-Computing.svg"></a>
    <a href="https://github.com/Adamouization/AdamouizationFilms" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/AdamouizationFilms.svg"></a>
    <a href="https://github.com/Adamouization/Space-Shooter" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/Space-Shooter.svg"></a>
    <a href="https://github.com/Adamouization/Haskell-Adventure-Game" target="_blank"><img
            src="https://gh-card.dev/repos/Adamouization/Haskell-Adventure-Game.svg"></a>
</div>
<div class="center-align-content">
    <button class="btn btn-2 btn-2a"
            onclick="window.open('https://github.com/Adamouization?tab=repositories', '_blank');">See more
    </button>
</div>