<div class="flex-row projects-list-title">
    <div class="flex-item flex-column full-width">
        <h1>Publications</h1>
    </div>
</div>

<!--<div style="text-align: left;">-->
<!--    Jaamour A, et al. (2023). <a href="https://zenodo.org/record/6828154" target="_blank">A divide and conquer approach to maximise deep learning mammography classification-->
<!--    accuracies</a>. PLOS ONE, <i>forthcoming (formally accepted, currently in production)</i>.-->


<div style="text-align: left;">
    Jaamour A, et al. (2023) A divide and conquer approach to maximise deep learning mammography classification accuracies.
    PLOS ONE 18(5). <a href="https://doi.org/10.1371/journal.pone.0280841" target="_blank">https://doi.org/10.1371/journal.pone.0280841</a>
</div>

<br><br>

<div class="center-align-content">
    <button class="btn btn-2 btn-2a"
            onclick="window.open('https://scholar.google.co.uk/citations?user=ir9OuakAAAAJ', '_blank');">Google Scholar
    </button>
    <button class="btn btn-2 btn-2a"
            onclick="window.open('https://orcid.org/0000-0002-8298-1302');">ORCID
    </button>
</div>

<br>
<br>