<div class="flex-row projects-list-title">
    <div class="flex-item flex-column full-width">
        <h1>Recommended Readings</h1>
    </div>
</div>

<div class="card-container">
    <div class="zoom-container">
        <img class="book-zoom" src="assets/img/hands-on.jpg">
        Hands-On Machine Learning<br>Aurélien Géron
    </div>

    <div class="zoom-container">
        <img class="book-zoom" src="assets/img/aima.jpg">
        AI: A Modern Approach<br>Stuart Russell & Peter Norvig
    </div>

    <div class="zoom-container">
        <img class="book-zoom" src="assets/img/clean_code.jpg">
        Clean Code<br>Robert C. Martin
    </div>
</div>
<br>