<div class="flex-row projects-list-title">
    <div class="flex-item flex-column full-width">
        <h1>Recommended Readings</h1>
    </div>
</div>

<div class="carousel-container">
    <div class="carousel">
        <div class="zoom-container">
            <img class="book-zoom" src="assets/img/hands-on.jpg">
            Hands-On Machine Learning<br>Aurélien Géron
        </div>
        <div class="zoom-container">
            <img class="book-zoom" src="assets/img/aima.jpg">
            AI: A Modern Approach<br>Stuart Russell & Peter Norvig
        </div>
        <div class="zoom-container">
            <img class="book-zoom" src="assets/img/clean_code.jpg">
            Clean Code<br>Robert C. Martin
        </div>
        <div class="zoom-container next-book">
            <img class="book-zoom" src="assets/img/practical_statistics.jpeg">
            Practical Statistics for Data Scientists<br>Bruce, Bruce & Gedeck
        </div>
        <div class="zoom-container">
            <img class="book-zoom" src="assets/img/statsquest.jpeg">
            The StatsQuest Illustrated Guide<br>to Machine Learning<br>Josh Starmer
        </div>
    </div>
    <div class="scroll-indicator"></div>
</div>
<br>