<div class="user-details-bis">
    <h1>Work Experiences</h1>
    <div class="education-row">
        <div class="education-column">
            <h3>Scuderia Toro Rosso F1 Team</h3>
            <h4>Software Engineer Placement<br>(Jul 2017 - Aug 2018)</h4>
            <a href="https://scuderiatororosso.redbull.com/en/" target="_blank">
                <img src="assets/img/toro-rosso.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="Scuderia Toro Rosso logo">
            </a>
            <p class="work-text">Developing and stabilising a large web application designed to deliver terabytes of
                aero simulation data
                per week, involving robustness improvements and performance optimisation.</p>
        </div>
        <div class="education-column">
            <h3>Monaco Pops</h3>
            <h4>Web Developer Intern<br>(Aug 2016 - Sep 2016)</h4>
            <img src="assets/img/mcpops.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                 alt="Monaco Pops logo">
            <p class="work-text">Assisting with the final stages of the development and deployment of an online
                e-fashion shop for luxury clothes that could handle an influx of clients across the globe.</p>
        </div>
        <div class="education-column">
            <h3>Monte-Carlo Multimédia</h3>
            <h4>Android Application Developer Intern<br>(Jun 2016 - Jul 2016)</h4>
            <a href="https://www.montecarlomultimedia.com/" target="_blank">
                <img src="assets/img/mcm.png" height="{{ site.icon_size }}" alt="Monte-Carlo Multimedia logo">
            </a>
            <p class="work-text">Creation of a scalable template Android application for a real-estate agency from
                scratch (published on
                the <a
                        href="https://play.google.com/store/apps/details?id=com.monte_carlo_multimedia.adam_jaamour.fcfimmobilier"
                        target="_blank">Google Play Store</a>). Designed in Java (logic) and XML (UI) by
                fetching data from an XML feed.</p>
        </div>
    </div>
</div>