<div class="user-details-bis">
    <h1>Work Experiences</h1>
    <div class="education-row">
        <div class="education-column">
            <h3>NewDay</h3>
            <h4>Applied Data Scientist<br>(Oct 2023 - Present)</h4>
            <a href="https://causalens.com/" target="_blank">
                <img src="assets/img/causalens_logo.jpeg" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="causaLens logo">
            </a>
            <p class="work-text">Revolutionising the world of AI by stepping away from traditional Correlation Machine
                Learning and focusing on causal AI. Building causal AI-powered solutions for leading organizations
                across a wide range of industries.</p>
        </div>
        <div class="education-column">
            <h3>NewDay</h3>
            <h4>Data Scientist<br>(Feb 2021 - Oct  2023)</h4>
            <a href="https://www.newday.co.uk/investors/at-a-glance/" target="_blank">
                <img src="assets/img/newday.jpg" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="NewDay logo">
            </a>
            <p class="work-text">Building high-performing, stable and explainable ML models applied in credit risk,
                while leading the development of the team's internal ML library. Ensuring the robustness/relevance of
                live models. Redefining the team's coding standards/practices.</p>
        </div>
        <div class="education-column">
            <h3>Scuderia Toro Rosso F1 Team</h3>
            <h4>Software Engineer Placement<br>(Jul 2017 - Aug 2018)</h4>
            <a href="https://scuderia.alphatauri.com/en/our-history/" target="_blank">
                <img src="assets/img/toro-rosso.png" height="{{ site.icon_size }}" width="{{ site.icon_size }}"
                     alt="Scuderia Toro Rosso logo">
            </a>
            <p class="work-text">Developing and stabilising a large web application designed to deliver terabytes of
                aero simulation data per week, involving robustness improvements and performance optimisation.</p>
        </div>
<!--        <div class="education-column">-->
<!--            <h3>Monte-Carlo Multimédia</h3>-->
<!--            <h4>Android Application Developer Intern<br>(Jun 2016 - Jul 2016)</h4>-->
<!--            <a href="https://www.montecarlomultimedia.com/" target="_blank">-->
<!--                <img src="assets/img/mcm.png" height="{{ site.icon_size }}" alt="Monte-Carlo Multimedia logo">-->
<!--            </a>-->
<!--            <p class="work-text">Creation of a scalable template Android application for a real-estate agency from-->
<!--                scratch. Designed in AndroidStudio using Java (logic) and XML (UI) and populated via data form an XML feed.</p>-->
<!--        </div>-->
    </div>
</div>