/*
 * Custom CSS classes to modify theme and library stylesheets.
 * Author: Adam Jaamour
 */

/* Create three equal columns that floats next to each other */
.education-column {
    float: left;
    width: 33.33%;
    padding: 0px;
}

/* Clear floats after the columns */
.education-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .education-column {
        width: 100%;
    }
}

.work-text {
    padding-left: 10px;
    padding-right: 10px;
}

/* HR lines */
hr.gradient-line { /* used between website sections */
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.dashed-line { /* used between projects */
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Third type of content div (for education and work experiences) */
.user-details-bis {
    text-align: center;
    margin: 5px auto
}
.user-details-bis h1, body {
    font-weight: 400
}
.user-details-bis p {
    font-size: 16px;
}
.user-details-bis h2 {
    font-weight: 400;
}

/* GitHub buttons next to h3 project titles */
.h3-project-title {
    margin-right: 15px;
}

/* Recommended book readings */
.zoom-container {
    transition: transform .2s;
    box-sizing: border-box;
    margin: 25px 40px 25px;
    text-align: center
}
.zoom-container:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25);
}
.book-zoom {
    max-height: 275px;
    display: block;
    margin: 0 auto;
}

/* Mathematical expressions */
.sup {
    position: relative;
    bottom: 1ex;
    font-size: 80%;
}