.projects-list-title {
    text-align: center;
    margin: 5px auto
}

.projects-list-title h1, body {
    font-weight: 400
}

.project {
    margin-bottom: 30px;
}

.project-card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.project-image {
    width: 300px;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.project-info {
    flex: 1;
    padding: 20px;
}

.project-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-description {
    margin-bottom: 20px;
    line-height: 1.5;
}

.project-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center-align-content {
    text-align: center;
}

.project-button {
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    flex-wrap: wrap;
}

.project-button:hover {
    background-color: #0062cc;
}

@media only screen and (max-width: 768px) {
    .project-card {
        flex-direction: column;
        border-radius: 5px;
    }

    .project-image {
        width: 99%;
        height: 300px;
        border-radius: 5px 5px 0 0;
        border: 1px solid rgba(0, 0, 0, 0.75);
    }

    .project-info {
        padding: 20px;
    }
}